#nav-menu-competence {
  .nav-link:hover {
    padding-bottom: 4px;
    border-bottom: 1px solid black;
  }

  .icon-select {
    width: 23px;
    height: 12px;
  }

  .close-button-img,
  .main-navigation-bar__img-close-button {
    width: 18px;
  }

  ul.navbar-nav {
    li {
      margin-bottom: 14px;
    }
  }
}
