$primary: #ec7b1a !default;
$blue: #a5c5e8 !default;

.filter {
  color: $blue;

  & a {
    color: $blue;
  }
}

.filter-button-group {
  padding: 20px;
  border: 1px solid $blue;
}

.filter-button {
  & a:hover,
  a:active {
    color: $primary;
  }
}
