@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.main-navigation-bar {
  //opacity: 0.95;
  opacity: 1;

  @include media-breakpoint-only(xs) {
    background-color: #f2eeee;
    padding: 2rem;
    margin-top: 1rem;
  }
  @include media-breakpoint-only(sm) {
    background-color: #f2eeee;
    padding: 2rem;
    margin-top: 1rem;
  }
  @include media-breakpoint-only(md) {
    background-color: #f2eeee;
    padding: 2rem;
    margin-top: 1rem;
  }
  @include media-breakpoint-only(lg) {
    background-color: white;
  }
  @include media-breakpoint-only(xl) {
    background-color: white;
  }

  .main-navigation-bar__img-close-button {
    width: 18px;
  }

  .nav-link,
  .navbar-brand {
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;

    display: inline;

    color: black;
  }

  .navbar-brand {
    padding-top: 0px;
  }

  .main-navigation-bar__dotted-line-horizontal {
    width: 15px;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }

  .main-navigation-bar__dotted-line-vertical {
    height: 15px;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }

  .nav-item.active > a {
    padding-bottom: 4px;
    border-bottom: 1px solid black;
  }
}

ul.navbar-nav {
  padding-right: 12px;

  li {
    @include media-breakpoint-only(xs) {
      margin-bottom: 14px;
    }
    @include media-breakpoint-only(sm) {
      margin-bottom: 14px;
    }
    @include media-breakpoint-only(md) {
      margin-bottom: 14px;
    }
  }
}
