@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.close-button-img {
  width: 18px;
}

#navbarSupportedContent {
  a {
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;

    display: inline;

    color: black;
  }

  .navbar-brand {
    padding-top: 0px;
  }

  .nav-dotted-line {
    width: 15px;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }

  .nav-dotted-line-vertical {
    height: 15px;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }

  .nav-item.active {
    a {
      border-bottom: 1px solid black;
    }
  }
}

ul.navbar-nav {
  padding-right: 12px;
}
