.socialMediaCarousel {
  height: 560px;

  /*background-color: #F2EEEE;*/

  .carousel-indicators .active {
    background-color: black;
  }

  .carousel-inner {
    /*background-color: #F2EEEE;*/
  }

  .carousel-indicators li {
    background-color: rgb(175, 175, 175);
  }

  .carousel-control-prev > i,
  .carousel-control-next > i {
    font-size: 2rem;
    color: #ec7b1a !important;
  }

  .carousel-control-prev,
  .carousel-control-next {
    font-size: 2rem;
    color: #ec7b1a !important;
    width: 10%;
  }

  .carousel-item {
    height: 560px;

    img {
      /*padding-left: 3rem;
            padding-right: 3rem;*/
      max-width: 80%;
    }
  }

  .social-media-image {
    max-height: 380px;
  }
}
