@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.cofinpro-logo {
  width: 110px;
}

#cofinpro-nav.on-main-site {
  margin-top: 48px;
}

#cofinpro-nav {
  background: white;

  opacity: 0.95;

  @include media-breakpoint-only(lg) {
    opacity: 1;
    padding-bottom: 1rem;
  }

  @include media-breakpoint-only(xl) {
    opacity: 1;
    padding-bottom: 1rem;
  }

  @include media-breakpoint-only(xs) {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  @include media-breakpoint-only(sm) {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  @include media-breakpoint-only(md) {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  @include media-breakpoint-only(lg) {
    padding-top: 0px;
  }

  @include media-breakpoint-only(xl) {
    padding-top: 0px;
  }

  button {
    margin-left: auto;
  }

  padding-right: 0px;
  padding-left: 0px;

  a {
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;

    display: inline;

    line-height: 0.9rem;
    font-size: 0.875rem;

    color: black;
  }

  .navbar-brand {
    padding-top: 0px;
  }

  .nav-dotted-line {
    width: 15px;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }

  .nav-dotted-line-vertical {
    height: 15px;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }

  .nav-item.active {
    a {
      border-bottom: 1px solid black;
    }
  }

  .nav-link:hover {
    border-bottom: 1px solid black;
  }

  .toggle-icon {
    font-size: 2rem;
  }

  .navbar-toggler {
    border: none;
    cursor: pointer;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .navbar-toggler > span:hover {
    color: #b34d00 !important;
  }

  button.navbar-toggler {
    margin-left: 0px;
  }
}

#cofinpro-nav-career {
  padding-right: 0px;
  padding-left: 0px;

  @include media-breakpoint-only(lg) {
    padding-bottom: 0px;
  }

  @include media-breakpoint-only(xl) {
    padding-bottom: 0px;
  }

  .title-menu {
    margin-left: auto;
    padding-top: 12px;

    @include media-breakpoint-only(xs) {
      font-size: 10px;
    }

    @include media-breakpoint-only(sm) {
      font-size: 10px;
    }
  }

  a {
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;

    display: inline;

    color: black;
  }

  .navbar-brand {
    padding-top: 0px;
  }

  .nav-dotted-line {
    width: 15px;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }

  .nav-dotted-line-vertical {
    height: 15px;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }

  .nav-item.active {
    a {
      border-bottom: 1px solid black;
    }
  }

  .toggle-icon {
    font-size: 2rem;
  }

  .navbar-toggler {
    border: none;
    cursor: pointer;
    line-height: inherit;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .navbar-toggler > span:hover {
    color: #7995b6 !important;
  }

  .title-perspective {
    padding-top: 12px;

    @include media-breakpoint-only(xs) {
      font-size: 10px;
    }

    @include media-breakpoint-only(sm) {
      font-size: 10px;
    }
  }
}

#nav-menu-competence {
  a {
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;

    display: inline;

    color: black;
  }

  .menu-body-header {
    font-size: 18px;
  }

  .nav-item {
    font-size: 14px;
  }

  .nav-item.active {
    a {
      border-bottom: 1px solid black;
    }
  }
}

.header-gradient {
  height: 12px;
  /*opacity: 0.95;*/
  background: white;
}

.cofinpro-logo-startseite {
  padding-bottom: 1rem;
  width: 100px;
}

.small-main-page-nav {
  font-size: 14px;
}
