@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.hero-image__image-overlay-gradient {
  z-index: 2;
  position: absolute;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 5%,
    rgba(255, 255, 255, 0.3) 95%
  );
  height: 100%;
  width: 100%;
}

.hero-image__title-box {
  position: relative;
  left: 0rem;
  top: 2.5rem;
  z-index: 1000;
  @include media-breakpoint-only(xs) {
    position: relative;
    left: 0rem;
    top: 1.5rem;
    z-index: 1000;
  }
  @include media-breakpoint-only(sm) {
    position: relative;
    left: 0rem;
    top: 1.5rem;
    z-index: 1000;
  }
  @include media-breakpoint-only(md) {
    position: relative;
    left: 0rem;
    top: 2.25rem;
    z-index: 1000;
  }
}
