.download-button {
  display: flex;
  align-items: start;
  flex: auto;
  p {
    margin: 0px;
  }
  margin-top: 10px;
  margin-bottom: 10px;
}

.download-button .download-button__text {
  color: #212529;
}

.download-button img {
  padding-top: 4px;
}