@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
$primary: #ec7b1a;
$blue: #a5c5e8;
.filter {
  color: $blue;
  & a {
    color: $blue;
  }
}

.beratungsfelder-text {
  hyphens: manual;
}

.filter-button a {
  color: $blue;
}

.filter-button-group {
  padding: 20px;
  border: 1px solid $blue;
  margin: 0px;
}

.filter-button {
  & a:hover,
  a.active {
    color: $primary;
    text-decoration: underline;
  }
  p {
    margin-bottom: 0px;
    @include media-breakpoint-only(xs) {
      margin-bottom: 1rem;
    }
    @include media-breakpoint-only(sm) {
      margin-bottom: 1rem;
    }
    @include media-breakpoint-only(md) {
      margin-bottom: 1rem;
    }
  }
}

.filter-button:last-child > p {
  margin-bottom: 0px;
  @include media-breakpoint-only(xs) {
    margin-bottom: 0px;
  }
  @include media-breakpoint-only(sm) {
    margin-bottom: 0px;
  }
  @include media-breakpoint-only(md) {
    margin-bottom: 0px;
  }
}
