.link-button-v2 {
  display: flex;
  align-items: start;
  flex: auto;
  p {
    margin: 0px;
  }
  margin-top: 10px;
  margin-bottom: 10px;
}

.link-button-v2 .link-button-v2__text {
  color: #212529;
}

.link-icon-arrow-right {
  padding-top: 4px;
}
