.sc-header,
.sc-header--close-button,
.sc-header--team-name,
.sc-header--team-name:hover {
  background: #ec7b1a;
}

.sc-header--close-button:hover {
  background: #c56717;
}

.sc-launcher,
.sc-message--text,
.sc-message--content.sent .sc-message--text {
  background-color: #ec7b1a;
}
