#chatbot-icon {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

#chatbot-open-button {
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: 0 2px 2px #888888;
}

#chatbot-open-button:hover {
  background-color: #e9ecef;
  border-color: #e9ecef;
}

#chatbot-open-button > img {
  padding-bottom: 10px;
}

.img-chat {
  min-width: 40px;
}

.main-section {
  -webkit-box-shadow: 0 19px 147px -41px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 19px 147px -41px rgba(0, 0, 0, 0.75);
  box-shadow: 0 19px 147px -41px rgba(0, 0, 0, 0.75);
  border: 0;
  z-index: 9999;
  width: 350px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  max-height: 100vh;
}

.botui-app-container {
  width: 100%;
  height: 400px;
}

.container-midd {
  height: 60vh;
  max-height: 480px;
}

.open-more {
  bottom: 0px;
  transition: 2s;
}
.border-chat {
  margin: 0px !important;
}
.first-section {
  font-size: 1.2rem;
}
.first-section p {
  color: #fff;
  margin: 0px;
  padding: 0px 0px;
}
.first-section a:hover {
  color: #fff;
  cursor: pointer;
}
.right-first-section {
  text-align: right;
}
.right-first-section a:hover {
  text-decoration: none;
}
.right-first-section i {
  color: #fff;
  font-size: 15px;
  padding: 12px 3px;
}
.right-first-section i:hover {
  color: #fff;
  text-decoration: none;
}
.chat-section {
  background-color: white;
}
.second-section {
  padding: 0px;
  margin: 0px;
  background-color: white;
  margin-top: 65px;
}
.third-section {
  border-top: 1px solid #847575;
}

.text-bar {
  padding-top: 12px;
  padding-bottom: 12px;
}
.text-bar input {
  margin-bottom: 0px;
}
.text-bar input:focus {
}
.text-bar.row {
  margin-bottom: 0px !important;
}
.text-bar a i {
  color: white;
  font-size: 2.2rem;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 4px 13px;
  font-size: 38px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-round {
  width: 70px;
  height: 70px;
  padding: 4px 13px;
  font-size: 38px;
  line-height: 1.33;
  border-radius: 35px;
}

@media (max-width: 992px) {
  .btn-round {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }
}

#button-close {
  color: white;
  font-size: 1.8rem;
}

#button-close > i {
  color: white;
  font-size: 1.8rem;
}

.container-top {
  height: 65px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 350px;
  margin-right: 0px;
  margin-left: 0px;
}

.container-end {
  position: static;
  bottom: 0px;
  width: 100%;
}

@media (max-width: 540px) {
  .main-section {
    width: 100%;
    height: 100%;
    right: 0px;
    bottom: 0px;
  }

  .container-top {
    width: 100%;
  }

  .container-midd {
    height: 100vh;
    max-height: 100vh;
  }

  .container-end {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
}
