RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\.karriere-cofinpro\.de$
RewriteRule (.*) https://www.karriere.cofinpro.de/$1 [R=301,L]
RewriteCond %{HTTP_HOST} !^karriere-cofinpro\.de$
RewriteRule (.*) https://www.karriere.cofinpro.de/$1 [R=301,L]