RewriteEngine On
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
RewriteRule ^ https://www.%1%{REQUEST_URI} [L,NE,R=301]

Redirect 301 /stellenmarkt https://www.karriere-cofinpro.de/jobs
Redirect 301 /stellenprofil-informatiker/ https://www.karriere-cofinpro.de/jobs
Redirect 301 /job-empfehlung/ https://www.karriere-cofinpro.de/jobs
Redirect 301 /soziale-vielfalt-bei-cofinpro/ https://www.karriere-cofinpro.de/ueber-uns
Redirect 301 /bewerbung-einreichen/ https://www.karriere-cofinpro.de/jobs-bewerbung
Redirect 301 /weiterentwicklung/ https://www.karriere-cofinpro.de/fachlicher-professional/deine-entwicklung
Redirect 301 /gehaltsmodel/ https://www.karriere-cofinpro.de/fachlicher-professional/gehalt-beteiligung
Redirect 301 /impressum-karriere/ https://www.karriere-cofinpro.de/impressum
Redirect 301 /auszeichnungen/ https://www.karriere-cofinpro.de/ueber-uns
Redirect 301 /bewerbungsprozess/ https://www.karriere-cofinpro.de/jobs-bewerbung
Redirect 301 /zukuenftige-kollegen/ https://www.karriere-cofinpro.de/ueber-uns
Redirect 301 /laufbahnmodell/ https://www.karriere-cofinpro.de/fachlicher-professional/deine-karriere
