.preview-fallback-box {
  border: 3px solid #a9c5e8;

  a {
    padding: 1.5rem;
  }

  p {
    font-size: 14px;
  }
}

.border-primary {
  border: 3px dashed #ec7b1a;
}

.border-secondary {
  border: 3px solid #a9c5e8;
}
