.carrerOfferPreview {
  height: 100%;
  border: 3px solid #a9c5e8;

  p {
    font-size: 14px;
  }

  p.no-margin-bottom {
    margin-bottom: 0rem;
  }

  .inner {
    height: 100%;
  }

  .stellenanzeige-link {
  }
}
