.carrerOfferPreview {
  height: 100%;

  a:hover {
    text-decoration: none;
  }

  p {
    font-size: 14px;
  }

  p.no-margin-bottom {
    margin-bottom: 0rem;
  }

  .inner {
    height: 100%;
  }

  .stellenanzeige-link {
  }
}
